*{
  padding: 0px;
  margin: 0px;
  outline: none;
  list-style: none;
}
a{
  white-space:nowrap;
}
a:hover{
  text-decoration: none;
}
/*Top Menu*/
.bg_topmenu
{
  background:#cc3300;
  float:left;
  width:100%;
}
#TopMenu
{
  padding: 0;
  width:100%;
  margin:0 auto;
  position:relative;
}
#TopMenu ul{
  float:right;
  margin-right:20px;
  color:#fff;
}

#TopMenu .dropdown-menu li a{
  float:right;
  margin-right:20px;
  color:#000;
}
#TopMenu ul span {
  line-height: 26px;
  font-size: 12px;
}
#TopMenu li
{
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  line-height:26px;
}
#TopMenu li a, #TopMenu li div
{
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  padding: 10px 8px 0 8px;
  text-decoration: none;
}
#TopMenu li a:hover{
  color:#e1e1e1!important;
}
#TopMenu li.languageFlag a
{
  padding:7px 3px;
}
#top-menu{
  height: 30px;
  padding: 0;
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
#top-menu ul{
  float:right;
  margin-right:20px;
}
#top-menu li
{
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  line-height:26px;
}
#top-menu li a{
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  padding: 0 15px 0 8px;
  text-decoration: none;
}
header{
  width: 100%;
}
.bg_header{
  width:100%;
  background:#ebeaea;
}
#Header
{
  height: 90px;
  margin: 0 auto;
  clear: both;
  background: #ebeaea;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-bottom {
  position: relative;
  z-index:2000;
}
main.content {
  margin-top: 20px;
}
form.search {
  width: 100%;
  border: 1px solid #ccc;
  border-right: 49px solid transparent;
  height: 36px;
  position: relative;
  margin-bottom: 10px;
}
form.search input[type=text] {
  width: 100%;
  height: 100%;
  border: 0px;
  text-indent: 5px;
}
form.search button[type=submit] {
  background: #060606;
  color: #fff;
  position: absolute;
  width: 49px;
  height: 36px;
  top: -1px;
  right: -49px;
  border: 0px;
  font-size: 20px;
}
/** menu **/
.Menu{
  //height:72px;
  padding-left: 0!important;
  margin-left: 0!important;
  position:absolute;
}
ul.main-nav li{
  padding-left: 0px;
  margin-left: 12px;
  position: relative;
}
li.menu.active div,
li.menu:hover div{
  position: absolute;
  top: 100%;
  left: 0px;
  height: 4px;
  width: calc(100%);
  background: #058408;
}
li.menu div:after,
li.menu.active div:after,
li.menu:hover div:after {
  opacity: 1;
}
ul.main-nav li a {
  background: #fff;
  color: #D74B33;
  padding: 0px 10px 0px 10px;
  text-transform: uppercase;
}
li.menu a:hover{
  color: #fff!important;
}
ul.main-nav li.active a,
ul.main-nav li:hover a
{
  background: #cc3300;
  color: #ffffff!important;
  padding: 0px 10px 1px 10px;
}
ul.main-nav li a:after {
  content: "";
  padding-left: 10px;
  color: #8B8B8B;
}
ul.main-nav li:last-child a:after {
  display: none;
}
ul.main-nav {
  margin:0;
  padding:0;
}
ul.main-nav a:link, ul.main-nav a:visited
{
  color: #0d0d0d!important;
  padding: 0px 10px;
  font: normal 12px/44px Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
}
.footer-bottom{
  background-color: #232323;
  text-align: center;
  padding: 2%;
}
.copy p{
  color:#fff;
  font-size:13px;
}
.copy p a{
  color:#F0745F;
}
.copy p a:hover{
  text-decoration:underline;
}
.hot-line{
  white-space: nowrap;
  line-height: 30px;
  float: right;
  font-size: 20px;
  margin-top: 25px;
}
.top.top-search{
  float:right;
  padding-top: 25px;
}
main.content {
  margin-top: 20px;
}
.container {
  width: 1170px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
ul.left-nav {
  border: 1px solid #d1d1d1;
  margin-bottom: 20px;
  width: 100%;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
span.menu-content {
  background-color: #cc3300;
  display: block;
  height: 30px;
  color: #fff;
  line-height: 29px;
  padding-left: 12px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}
ul.left-nav li {
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar-nav > li {
  float: left;
}
.nav > li {
  position: relative;
  display: block;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #eaffea;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.form-signin-heading{
  margin-bottom: 30px;
}
.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  &:focus {
    z-index: 2;
  }
}
.email{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.banner {
  margin-top: 20px;
  margin-bottom: 30px;
}
