<div class="col-md-3">
  <ul class="left-nav nav nav navbar-nav">
    <span class="menu-content"><%= t "layout.menu"%></span>
    <%= render "categories/categories", categories: category %>
  </ul>
</div>
